:root.theme-dark {
  --bodyBackGroundImage: url(../images/cover-image-dark.png);
  --headerStuffColor: #FF0070;
  --headerColorHover: #FF007040;

  --headerTitleColor: #DB00FF;
  --headerSubtitleColor: #000028;
  --headerSubtitleAltColor: #000028;

  --pageBackgroundColor: #000028;
  --pageTextColor: #F1B2CE;

  --themeBorderColor: #FF0070;
}

.theme-dark .header__subtitle {
  color: var(--headerSubtitleColor);
}

.theme-dark .main__title {
  color: var(--headerStuffColor);
}

.theme-dark .main__subtitle {
  color: var(--headerSubtitleColor);
}

.theme-dark .header__theme-menu-button_type_dark {
  border: 1px solid var(--themeBorderColor);
  pointer-events: none;
}

.theme-light .header__theme-menu-button_type_light {
  border: none;
}