:root.theme-light {
  --bodyBackGroundImage: url(../images/cover-image-light.png);
  --headerStuffColor: #FF8DCB;
  --headerColorHover: #35343040;

  --headerTitleColor: #FFC2E6;
  --headerSubtitleColor: #FFF1F7;
  --headerSubtitleAltColor: #353430;

  --pageBackgroundColor: #FFF1F7;
  --pageTextColor: #353430;

  --themeBorderColor: #353430;
}

.theme-light .header__subtitle {
  color: var(--pageTextColor);
}

.theme-light .main__title {
  color: var(--pageTextColor);
}

.theme-light .main__subtitle {
  color: var(--pageTextColor);
}

.theme-light .header__theme-menu-button {
  color: var(--themeBorderColor);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--headerColorHover);
}

.theme-light .header__theme-menu-button:focus {
  border-bottom: 1px solid var(--themeBorderColor);
}

.theme-light .header__theme-menu-button_type_light {
  border: 1px solid var(--themeBorderColor);
  pointer-events: none;
}

.theme-light .header__theme-menu-button_type_dark {
  border: none;
}

.theme-light .header__theme-rec {
  display: none;
}

.theme-light .theme-rec {
  display: none;
}