:root {
  --bodyBackGroundImage: url(../images/cover-image-dark.png);
  --headerStuffColor: #FF0070;
  --headerColorHover: #FF007040;

  --headerTitleColor: #DB00FF;
  --headerSubtitleColor: #000028;
  --headerSubtitleAltColor: #000028;

  --pageBackgroundColor: #000028;
  --pageTextColor: #F1B2CE;

  --themeBorderColor: #FF0070;
}

.header__subtitle {
  color: var(--headerSubtitleColor);
}

.main__title {
  color: var(--headerStuffColor);
}

 .main__subtitle {
  color: var(--headerSubtitleColor);
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--themeBorderColor);
}

.header__theme-menu-button_type_light {
  border: none;
}

.theme-rec {
  display: block;
}